# Build output
**/bin
**/lib

##
# CMake
#
**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps

##
# Pistache CMake Artifacts
#
**/CPackConfig.cmake
**/CPackSourceConfig.cmake
